.flexConntainer {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;  form jumping*/
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.flexItem {
    flex: 1;
}
.flexNav{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}
.flexNavCenter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.flexNavCenterItem{
    margin-left: 10px;
    margin-right: 10px;
}

.flexNavRight{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.flexNavRightItem{
    margin-left: 10px;
    margin-right: 10px;
}
.flexColunm{
    display: flex;
    flex-direction: row;
}