.flexConntainer {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;  form jumping*/
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.flexItem {
    flex: 1;
}
.flexNav{

    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.flexNavLeft{
    text-align: center;
}